#caja {
  width: 100px;
  height: 100px;
  background: blue;
  margin-top: 20px;
}

/* Clase que activa la animación */
.animar {
  animation: crecer 0.6s ease-in-out forwards;
}

/* Definimos la animación */
@keyframes crecer {
  0% {
    transform: scale(1);
    background: blue;
  }
  100% {
    transform: scale(1.5);
    background: red;
  }
}
